.hero-text {
	position: relative;
	padding: 40px 15px;
	&::before {
		content: "";
		width: 200%;
		height: 115%;
		position: absolute;
		background: $blue;
		top: 0%;
		left: -50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	}
}

.about-prometheus-text {
	padding: 0 15px;
}

.hero-header {
	margin-top: 0;
	@include top-dash;
}

.hero-image-container,
.sub {
	position: relative;
}

.hero-br {
	display: none;
}

.about-prometheus-image-container {
	position: relative;

	img {
		position: relative;
	}
	&::before {
		content: "";
		width: 200%;
		height: 90%;
		position: absolute;
		background: $blue;
		top: 0%;
		left: -50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	}
}

.section-header {
	display: inline-block;
	border-bottom: 6px solid $yellow;
	margin-top: 0;
}

.card-header {
	text-align: center;
	margin-top: 0;
}

.square-card {
	height: 100%;
	padding: $custom-half-spacing;
	border-radius: $custom-half-spacing;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.circle-card.bg-light-blue {
	@include radial-gradient($light-blue);
}

.circle-card.bg-light-orange {
	@include radial-gradient($light-orange);
}

.circle-card.bg-light-yellow {
	@include radial-gradient($light-yellow);
}

.circle-card {
	height: 100%;
	padding: 15% 40px;
	max-width: 575px;
	margin: 0 auto;
}
