.header {
	border-bottom: 12px solid $yellow;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

input#top-nav-menu {
	display: none;
}

.toggle-label {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
	cursor: pointer;
	.line {
		position: absolute;
		width: 95%;
		border: 1px solid $gray-900;
		background-color: $gray-900;
		border-radius: 1px;
		transform: rotate(0) scale(1);
		transform-origin: right;
		transition: transform 0.3s ease-in-out;
	}
	.line-1 {
		top: 2px;
	}
	.line-2 {
		top: 10px;
	}
	.line-3 {
		top: 18px;
	}
}

#top-nav-menu:checked {
	& ~ .toggle-label {
		.line-1 {
			transform: rotate(-45deg) scale(1);
		}
		.line-2 {
			transform: rotate(0) scale(0);
		}
		.line-3 {
			transform: rotate(45deg) scale(1);
		}
	}

	& ~ .nav-links {
		overflow: hidden;
		opacity: 1;
		max-height: 30em;
		visibility: visible;
	}
}

.nav-links {
	width: 100%;
	max-height: 0;
	display: block;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	transition-delay: 0s;
	transition: visibility 0.3s ease-in-out,
		max-height 0.5s cubic-bezier(0.44, 0.26, 0.22, 0.94),
		opacity 0.5s ease-in-out;

	li:last-of-type {
		margin-bottom: $custom-spacing;
	}
}

.nav-logo-container {
	padding-right: 5rem;
	max-width: 365px;
	flex: 1;
}

.hero-text {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	&::before {
		content: "";
		width: 200%;
		height: 115%;
		position: absolute;
		background: $blue;
		top: 0%;
		left: -50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	}
}

.about-prometheus-text-container {
	padding: 0 15px;
	position: relative;
}

.hero-header {
	margin-top: 0;
	position: relative;
}

.hero-image-container,
.about-prometheus-image-container {
	max-width: 575px;
	margin: 0 auto;
}

.hero-image-container,
.sub {
	position: relative;
}

.hero-br {
	display: none;
}

.about-prometheus-image-container {
	position: relative;

	img {
		position: relative;
	}
	&::before {
		content: "";
		width: 200%;
		height: 90%;
		position: absolute;
		background: $blue;
		top: 0%;
		left: -50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	}
}

.section-header {
	display: inline-block;
	border-bottom: 6px solid $yellow;
	margin-top: 0;
}

.card-header {
	text-align: center;
	margin-top: 0;
}

.square-card {
	height: 100%;
	padding: $custom-half-spacing;
	border-radius: $custom-half-spacing;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.circle-card.bg-light-blue {
	@include radial-gradient($light-blue);
}

.circle-card.bg-light-orange {
	@include radial-gradient($light-orange);
}

.circle-card.bg-light-yellow {
	@include radial-gradient($light-yellow);
}

.circle-card {
	position: relative;
	height: 0%;
	padding-top: 100%;
	margin: 0 auto;
}

.circle-card-content {
	position: absolute;
	top: 30%;
	left: 23%;
	transform: translate(-15%, -15%);
}

.footer {
	border-top: 12px solid $yellow;
}

.footer-logo-container {
	max-width: 720px;
}

.nav-link,
.footer-link {
	font-family: $header-font;
	font-weight: bold;

	a {
		padding: 0.625em 1.125em;
		color: $gray-900;
		display: inline-block;
	}
	&.primary a {
		margin-top: 0.625rem;
		background-color: $yellow;
		border-radius: 7px;
	}
}

/** Responsive styles **/
@include media-breakpoint-up(lg) {
	.header-container {
		margin-bottom: -1.2rem;
	}

	.hero-br {
		display: block;
	}

	.navbar {
		align-items: baseline;
	}

	.nav-links {
		overflow: hidden;
		opacity: 1;
		max-height: 30em;
		visibility: visible;
		width: auto;
	}

	.toggle-label {
		display: none;
	}

	.hero-container {
		display: flex;
		align-items: center;
	}

	.hero-btn-group {
		text-align: center;
	}

	.hero-text {
		max-width: 48em;
		padding-top: 2rem;
		padding-bottom: 2rem;
		&::before {
			width: 175%;
			height: 280%;
			top: -88%;
			left: -46%;
			border-bottom-right-radius: 50%;
			border-top-right-radius: 50%;
		}
	}

	.hero-image-container {
		margin: auto 0 0 auto;
	}

	.square-card {
		padding: 2rem;
	}

	.about-prometheus {
		display: flex;
		background-color: $blue;
	}

	.about-prometheus-image-container {
		width: 45%;
	}

	.about-prometheus-text-container {
		width: 55%;
	}

	.about-prometheus-image-container {
		&::before {
			content: none;
		}
		img {
			z-index: 1;
		}
	}
	.about-prometheus-text {
		position: relative;
		max-width: 46rem;
	}

	.about-prometheus-text-container {
		display: flex;
		align-items: center;
		&::before {
			content: "";
			position: absolute;
			width: 150%;
			height: 200%;
			background: #c9e1fb;
			z-index: 0;
			top: -50%;
			left: -15%;
			border-bottom-left-radius: 50%;
			border-top-left-radius: 50%;
		}
	}
}

@include media-breakpoint-up(xxl) {
	.hero-text {
		padding-top: 4rem;
		padding-bottom: 4rem;
		&::before {
			left: -60%;
		}
	}
}
