.application-steps-hero {
	counter-reset: section;
	max-width: 320px;
	padding: 60px 0 40px;
	h5 {
		margin-top: 1.5rem;
	}
	h5::before {
		counter-increment: section;
		content: counter(section);
		display: inline-block;
		width: 64px;
		height: 64px;
		color: $yellow;
		background-color: $blue;
		border-radius: 50%;
		font-size: 3.75rem;
		text-align: center;
		vertical-align: middle;
		padding-top: 1rem;
		margin-right: 20px;
	}
}

@include media-breakpoint-up(lg) {
	.application-steps-hero {
		width: (50% - 16.333333%);
		margin: 0 auto;
		margin-left: 16.333333%;
		max-width: unset;

		// h5::before {
		// 	width: 118px;
		// 	height: 118px;
		// 	padding-top: 1rem;
		// }
	}
	.application-hero-text {
		&::before {
			left: -55%;
		}
		width: 50%;
	}
}

@include media-breakpoint-up(xxl) {
	.application-steps-hero {
		h5::before {
			width: 118px;
			height: 118px;
			padding-top: 2rem;
		}
	}
}
