// .container-fluid {
// 	padding-left: 0;
// 	padding-right: 0;
// }

ul,
nav {
	display: block;
	list-style-type: none;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

.top-dash {
	position: relative;
	background-color: $yellow;
	width: 2em;
	height: 6px;
	display: block;
	margin-bottom: 1rem;
}

.margin-top {
	margin-top: $custom-spacing;
}

.margin-bottom {
	margin-bottom: $custom-spacing;
}

.margin-top-half {
	margin-top: $custom-half-spacing;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.btn {
	@include btn($blue, $yellow);
}

.btn.btn-blue {
	@include btn($yellow, $blue);
}

.btn.secondary {
	color: $yellow;
	background-color: transparent;
	border-color: $yellow;
}

.btn-blue-secondary {
	@include btn($blue, transparent) {
		color: $blue;
		background-color: transparent;
	}
	border-color: $blue;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.overflow-hidden {
	overflow: hidden;
}

.border-none {
	border: none;
}

[class*="col-"]:not(:first-child) {
	margin-top: $custom-half-spacing;
}

@include media-breakpoint-up(md) {
	[class*="col-"]:not(:first-child) {
		margin-top: 0;
	}
}

@include media-breakpoint-up(lg) {
	.text-lg-left {
		text-align: left;
	}
}
