.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.margin-top {
	margin-top: $custom-spacing;
}

.margin-top-half {
	margin-top: $custom-half-spacing;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.btn {
	@include btn($blue, $yellow);
}

.btn.btn-blue {
	@include btn($yellow, $blue);
}

.btn.secondary {
	@include btn($yellow, transparent) {
		color: $yellow;
		background-color: transparent;
	}
	border-color: $yellow;
}

.btn-blue-secondary {
	@include btn($blue, transparent) {
		color: $blue;
		background-color: transparent;
	}
	border-color: $blue;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.overflow-hidden {
	overflow: hidden;
}

.top-dash {
	position: relative;
	@include top-dash;
}

.border-none {
	border: none;
}

[class*="col-"]:not(:first-child) {
	margin-top: $custom-half-spacing;
}

@include media-breakpoint-up(md) {
	[class*="col-"]:not(:first-child) {
		margin-top: 0;
	}
}
