$enable-responsive-font-sizes: true;
$grid-gutter-width: 20px;

$gray-900: #2a2a2a;
$gray-600: #6f6f6f;
$gray-300: #e8e8e8;
$gray-100: #f8f8f8;
$yellow: #fcca6c;
$light-yellow: #fbd895;
$blue: #315b8a;
$light-blue: #c9e1fb;
$orange: #f2762e;
$light-orange: #f49c6a;

$custom-spacing: 2.5rem;
$custom-half-spacing: $custom-spacing / 2;
